@font-face {
    font-family: 'Watermelon';
    src: url('./WatermelonDays.ttf');
}

/* Estilo Scrollbar */

body::-webkit-scrollbar {
    width: 13px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
    border-radius: 20px;
    border: 3px solid rgb(255, 255, 255);
  }

/* joao background image */
.bgimage {
    height: 100vh;
    background: url('../images/bannerHome.svg');
    background-size: cover;
    position: relative;
    box-shadow: 2px 3px 8px rgb(0 0 0 / 30%);
}

/* texto css sobre e imagem */

.joao_title {
    font-size: 2.1rem;
}

.joao_desc {
    font-size: 1rem;
}

.joao-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(233, 233, 233);
}

/*seção sobre image css*/

.about {
    top: 30%;
}

.imageAboutPage {
    width: 70%;
    border-radius: 21px;
}

/*seção serviços css*/

.servicesText.card {
    height: 280px;
    cursor: pointer;
}

.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
}

.card:hover .servicesIcon {
    color: #008000;
    transition: ease-in-out 0.3s;
}

.servicesText:hover {
    border: 1px solid #008000;
    transition: ease-in-out 0.3s;
}

/* display background preto e navbar com rolagem */

.navbarScroll.navbarDark {
    background-color: black;
    transition: ease-in-out 0.5s;
}

/* icones redes sociais css */

.social-icons {
    font-size: 36px;
    cursor: pointer;
}

.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
    transition: ease-in-out 0.2s;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}

/*espaçamento entre as seções*/

#about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}

#contact {
    padding-bottom: 4rem;
}


/* seção link form */

.link-form {
    text-decoration-color: #fff;
    text-decoration: none;
    color: #fff;
}

.link-form:hover {
    color: black;
    transition: ease-in-out 0.2s;
}